h1 {
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}
body{
    background-color: #f5f5f5;
}
#window{
    width :50%
  
    
}
#horse{
    width: 70%;
    margin: 5%;
}
#calm{
    width: 70%;
    margin: 5%;

}
#hope{
    width: 70%;
    margin: 5%;
}
#port{
    width:70%
    
}
#cat{
    width: 70%;
    margin: 5%;
    
}
#baby{
    width: 70%;
    margin: 5%;
}

#read{
    width: 70%;
    margin: 5%;
}
#girl{
    width: 70%;
    margin: 5%;
}

#newborn{
    width: 70%;
    margin: 5%;
}